 
    <div  fxLayout="column" style="margin: 25px;"   >
        <mat-toolbar  fxLayoutAlign="space-between center"  >

          <button mat-mini-fab   
 
            (click)="_onBackProduct()">
            <mat-icon> arrow_back   </mat-icon>
          </button> 

            <button  *ngIf="isLoaded"  mat-button  color="accent" >Product ID : {{db_product.uuid}}</button>
            <button mat-mini-fab    
 
             aria-label="delete Product"  (click)="_onEditProductClick()"  >
                <mat-icon> save </mat-icon>
            </button>
        </mat-toolbar>
  


          <div fxLayout="column"  style="margin: 25px;"      *ngIf="isLoaded"   >
              <mat-toolbar  style="margin-top: 25px;"  fxLayoutAlign="space-around center"  >
                <span>product images :</span>
                <button mat-icon-button  color="primary" (click)="inputField.click()">
                  <mat-icon>add_circle</mat-icon>
                </button>
                <input #inputField hidden type="file" (change)="_onAddNewFile($event)" />
              </mat-toolbar>
              <div  fxLayout="row wrap" fxLayoutAlign="center center"    > 


                

                <div class="div_image" fxLayout="column" *ngFor="let elm of images"  >
                 
                  <img  *ngIf="!elm.isToDeleted"  class="imgEnima" alt="photo of {{elm.name}}" 
                   src="{{  elm.src }}"   > 
                
                  <div  *ngIf="!elm.isToDeleted"   fxLayout="row wrap" fxLayoutAlign="space-around center" >
                    <button mat-icon-button color="primary" (click)="inputField.click()">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <input #inputField hidden type="file" (change)="_onEditImageClick($event, elm)" />
                    <button mat-icon-button color="warn"  (click)="_onDeleteImageClick( elm)"  >
                      <mat-icon aria-label="Delete">delete_forever</mat-icon>
                    </button>
                  </div>
                  <mat-progress-bar *ngIf="!elm.isToDeleted"      color="warn" [value]="elm.percentage"  ></mat-progress-bar>  
                </div>  
              </div>
          </div>



          <div fxLayout="column"   style="margin: 25px;"     *ngIf="isLoaded"    >
              <mat-toolbar  style="margin: 25px;"  >
                <span>product informations :</span>
              </mat-toolbar>
         
              <div  fxLayout="row wrap"  style="margin: 25px;"   >
                <mat-form-field color="accent">
                <input matInput placeholder="name"    [(ngModel)]="db_product.name" name="name">
                <mat-icon matSuffix color="accent">business  </mat-icon>
                </mat-form-field>
                <mat-form-field color="accent">
                  <input  matInput  type="number" #input   placeholder="price" [(ngModel)]="db_product.price" name="price" required > 
                  <mat-icon matSuffix color="accent">monetization_on</mat-icon>
                </mat-form-field>
              </div>
          
              <div  fxLayout="row wrap" style="margin: 25px;"  >
            
                <mat-form-field color="accent" >
                  <input  matInput  type="number" #inputstate    placeholder="stocks" [(ngModel)]="db_product.stocks" name="stocks"  required >
                  <mat-icon matSuffix color="accent">archive  </mat-icon>
                </mat-form-field>
                <mat-form-field color="accent">
                  <input matInput  type="number"   placeholder="rating" [(ngModel)]="db_product.rating" name="rating">
                  <mat-icon matSuffix color="accent">stars   </mat-icon>
                </mat-form-field>
               </div>
      
               <div  fxLayout="row wrap" style="margin: 25px;"  >
                <app-brands [brandId] ="db_product.brandId"   (BrandEvent)="_onSelectBrand($event)"></app-brands>
                <app-categories [catId] ="db_product.categorieId"    (CategorieEvent)="_onSelectCategorie($event)"></app-categories>
               </div>
          </div>
       
  </div>
    