
 

.w-100 {
    width: 100%;
   }
   .w-70 {
    width: 70%;
   }
  
   .w-90 {
    width: 90%;
   }
  
   .form {
    min-height: 56px;
    max-height: 56px;
    display: flex;
    align-items: center;
    padding: 8px 24px 0;
    font-size: 20px;
    justify-content: space-between;
    border-bottom: 1px solid transparent;
  }
  